# Environnement virtuel
.venv/
venv/

# Fichiers secrets
.env

# Base de données vectorielle
vector_store/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Autres fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Dossier IDE (si tu utilises VS Code ou PyCharm)
.vscode/
.idea/